@import "./colors";

// Typography styles
$font-inter: 'Inter', sans-serif;
$font-monserrat: 'Montserrat', sans-serif;

// color styles marca
$color-white: #FFFFFF;
$color-primary: #0A0D40;
$color-secondary: #23338C;
$color-accent1: #F2CD13;
$color-accent2: #F28705;
$color-accent3: #F25C05;